<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>400683359433-12562aikf5meqgfcdkmevivdpd4f0q2f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400683359433-12562aikf5meqgfcdkmevivdpd4f0q2f</string>
	<key>API_KEY</key>
	<string>AIzaSyC8wnzHc2TQYw9KMcLcjCun79s1QmG0vpk</string>
	<key>GCM_SENDER_ID</key>
	<string>400683359433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.terra.tapps</string>
	<key>PROJECT_ID</key>
	<string>clone-instagram-cd240</string>
	<key>STORAGE_BUCKET</key>
	<string>clone-instagram-cd240.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400683359433:ios:3d6cb8f13229629a</string>
	<key>DATABASE_URL</key>
	<string>https://clone-instagram-cd240.firebaseio.com</string>
</dict>
</plist>